<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <style>
            /* width */
            ::-webkit-scrollbar {
              width: 10px;
              margin-left:2px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
              background: #f1f1f1; 
            }
             
            /* Handle */
            ::-webkit-scrollbar-thumb {
              background: #888; 
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
              background: #555; 
            }

            /* body {
                overflow-y:scroll;
            } */
            </style>
</head>

<body>
    <div class="container">
        <div class="row text-center">

            <img style="width:50%;margin-top:5px;" src="/static/zonnepanelen.png" class="img-fluid" alt="Zonnepanelen">
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <h3>Live stroomopwekking</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Gemeten om</th>
                        <th scope="col">Watt DC</th>
                        <th scope="col">Watt AC</th>
                        <th scope="col">Totaal opgewekte energie</th>
                        <th scope="col">Looptijd</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="datetime">Laden...</td>
                        <td id="wattDC">Laden...</td>
                        <td id="wattAC">Laden...</th>
                        <td id="total">Laden...</td>
                        <td id="runtime">Laden...</td>
                    </tr>
                </tbody>
            </table>
            <script src="/static/moment.js"></script>
            <script>
                function fetchdata() {
                    fetch("/getdata").then(res => res.json()).then(function (response) {
                        console.log(response);
                        document.getElementById('wattAC').innerHTML = response.wattAC + "W"
                        document.getElementById('wattDC').innerHTML = response.wattDC + "W"
                        document.getElementById('runtime').innerHTML = (response.runtime / 60 / 24 / 365.25).toFixed(1) + " Jaar"
                        document.getElementById('total').innerHTML = response.wattTotaal + " kWh"
                        document.getElementById('datetime').innerHTML = moment(response.datetime).format("HH:mm")
                    })
                }
                setInterval(function () {
                    fetchdata()
                }, 10000)

            </script>

        </div>

    </div>
    <div class="container">
        <div class="row">
            <h2>Informatie</h2>
            <p>
                Het Novum heeft sinds een aantal jaar zonnepanelen op het dak staan om zo hun eigen groene energie op te
                wekken. Op deze pagina kan je zien hoe goed dat werkt.<br />
                <br /><br />

                Wat(t) betekenen deze cijfers?<br />
                Watt is een eenheid van energie per seconde. Ter vergelijking:<br />
                Één chromebook gebruikt ongeveer 15 watt. Een desktop computer ongeveer 100 watt.<br />
                Een gemiddeld huishouden gebruikt ongeveer 3000kwh per jaar.<br />
                Per opgewekte kWh (1 uur lang 1000 watt) bespaar je ongeveer 0,649 kilogram CO2 of 22 cent. <br />
                Als je dus een uur lang 2000 watt opwekt heb je dus ongeveer 1 kilogram CO2 bespaard.<br />
                Ter vergelijking, de productie van één a4 (toets)blaadje kost ongeveer 6 gram CO2 <a
                    href="https://www.ezeep.com/co2-neutral-printing/">(bron)</a>
                <br /> <br />
                De omvormer verandert de gelijkstroom (DC) van de zonnepanelen naar wisselstroom (AC). De
                stroomopwekking wordt via de omvormer gemeten.
                <br />
                <br />
                Aantal zonnepanelen: 42<br />
                Omvormer capaciteit: 6500W
            </p>
        </div>
    </div>
    <div class="" style="margin-left:2vw;overflow:hidden">
        <div class="row" style="margin-left:0px;">
            <div class="chart-container" style="position: relative; height:40vh; width:95vw">
                <canvas id="dailyGraph" width="20" height="100"></canvas>
            </div>
            <script src="/static/Chart.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>

            <script>

                var readouts = <%- readouts %>;

                var mapnew = [];

                //deduplicate
                var seen = {};
                readouts = readouts.filter(x => {
                    let isseen = seen.hasOwnProperty(x.datetime) ? true : false;
                    seen[x.datetime] = true
                    return !isseen
                })

                //filter out bad dates
                readouts = readouts.filter(x => { return x.datetime != "2020-12-07T23:00:00.000Z" && x.datetime != null })

                //map in a {x: y:} format for chartjs
                for (let i = 0; i < readouts.length; i++) {
                    mapnew.push({ x: moment(readouts[i].datetime), y: readouts[i].wattDC })
                }

                var ctx = document.getElementById('dailyGraph').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: 'Watt DC (laatste 48 uur)',
                            data: mapnew,
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            pointRadius: 0.1,
                            fill: false,
                            pointHitRadius: 4
                        }]
                    },

                    options: {
                        plugins: {

                            zoom: {
                                pan: {
                                    enabled: true,
                                    mode: 'x'
                                },
                                zoom: {
                                    enabled: true,
                                    mode: 'x'
                                }
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                type: 'time',
                                time: {
                                    displayFormats: {
                                        day: 'DD MMM'
                                    }
                                }
                            }]
                        }
                    }
                });

                fetchdata()

            </script>
        </div>

        <div class="row" style="margin-left:0px;">
            <div class="chart-container" style="position: relative; height:40vh; width:95vw">
                <canvas id="maxPerDay" width="20" height="100"></canvas>
            </div>

            <script>

                var readouts = <%- maxPerDay %>;

                var mapnew = [];

                for (let i = 0; i < readouts.length; i++) {
                    mapnew.push({ x: moment(readouts[i].datetime).set({hour: 12, minute: 0, seconds: 0}), y: readouts[i].wattDC })
                }

                var ctx = document.getElementById('maxPerDay').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: 'Watt DC maximaal per dag',
                            data: mapnew,
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            pointRadius: 0.1,
                            fill: false,
                            pointHitRadius: 2
                        }]
                    },

                    options: {
                        plugins: {

                            zoom: {
                                pan: {
                                    enabled: true,
                                    mode: 'x'
                                },
                                zoom: {
                                    enabled: true,
                                    mode: 'x'
                                }
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                type: 'time',
                                time: {
                                    unit: 'day',
                                    displayFormats: {
                                        day: 'DD MMM'
                                    }
                                }
                            }]
                        }
                    }
                });

         

            </script>
        </div>


    </div>

</body>

</html>